body {
  font-family: Arial;
}

.header {
  font-family: TelegramaRaw;
  font-size: 64px;
  text-align: center;
}

.left-bar {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: top;

  text-align: left;
}

.about {
  margin: 5px;
}

span {
  display: block;
}

span.bold {
  font-weight: bold;
}

span.desc {
  display: block;
  margin-top: 5px;
}

span.left-align {
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.right-content {
  display: inline-block;
  position: relative;
  width: 70%;

  text-align: center;
}

.clear {
  clear: both;
}

.info {
  display: block;
  border-top: 1px solid;
  padding: 10px;
}

.main {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

ul {
  display: inline-block;
  text-align: left;
}

ul.dashed {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ul.dashed > li:before {
  display: inline-block;
  content: "--";
  width: 1.5em;
  margin-left: -1em;
}

.media {
  display: block;
  border-top: 1px solid;
  padding: 10px;

  text-align: center;
}

.media .video {
  display: inline-block;
  margin: 5px;
}

.screenshot {
  display: inline-block;
  margin: 5px;
}

.logo {
  display: inline-block;
  margin: 5px;
}
